@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: pink;
}

.card {
  position: relative;
  width: 400px;
  height: 533px;
  background: white;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

.card:hover {
  transform: translateX(50%);
}

.card .imgBox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background: rgba(0, 0, 0, 0);
  transition: 1s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
}

.card:hover .imgBox {
  transform: rotateY(-180deg);
}

.card .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card .imgBox img:nth-child(2) {
  transform: rotateY(180deg);
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .details .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.kotak-g {
  color: aliceblue;
  margin: 4px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  background-color: darkviolet;
  text-align: center;
  float: left;
  border-radius: 2px;
  transition: 0.5s;
}
.kotak-g:hover {
  background-color: deeppink;
  transform: rotate(360deg);
  border-radius: 50%;
}

.kotak-n {
  color: aliceblue;
  margin: 2px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: deeppink;
  text-align: center;
  border-radius: 5px;
  float: left;
  transition: 0.5s;
}
.kotak-n:hover {
  background-color: darkviolet;
  transform: rotate(360deg);
  border-radius: 50%;
}

.greet {
  font-size: 24px;
}

.name {
  font-size: 16px;
}
